.background {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
  padding: 32px;
  max-width: 1024px;
  color: #fff;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  column-gap: 32px;
}

.cityName {
  font-size: 32px;
  font-weight: lighter;
  line-height: 100%;
}

.regionName {
  font-size: 24px;
  font-weight: lighter;
}

.countryName {
  font-size: 24px;
  font-weight: lighter;
}

.divider {
  width: 256px;
  height: 1px;
  background: #fff;
}

.basicDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.circularContainer {
  width: 128px ;
  height: 128px;
  box-shadow: rgba(128, 128, 128, 0.17) 0px -23px 25px 0px inset, rgba(128, 128, 128, 0.15) 0px -36px 30px 0px inset, rgba(128, 128, 128, 0.1) 0px -79px 40px 0px inset;
  border-radius: 98px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  justify-content: space-evenly;
}

.temperature {
  font-weight: lighter;
}

.description {
  font-weight: lighter;
  margin: 8px;  
}

.icon {
  width: 48px;
  border-radius: 32px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  margin: 8px;  
}

.details {
  text-align: left;
}

.details tr>* {
  padding: 8px;
}

.details tr>th {
  font-weight: normal;
  color: #FFDCB5;
}

.details tr>td {
  text-align: right;
}